# Prey detection and escape from _Polynices_ sp by _Isanda coronta_

Data obtained from all tracks where start of prey movement clearly recorded with respect to predators position. Re-encounters between the same prey item and predator are not included.



| KEY   | Description |
|-------|:------------|
| DATE | date of track |
| TS | time of track started |
| TF | time track finished |
| PPL | predator prey location |
| TP | track position |
| D1 | distance from predator prey commenced moving (mm) |
| A1 | angle from direction of movement of predator |
| B1 | beeline distance from predator position to end of prey track |
| B2 | beeline direction from predator position to end of prey track |
| T1 | total distance moved by prey |
| T2 | total time taken to move T1 |
| DS | depth of search by predator |
| PD | possible detection of prey by predator |
| PS | prey speed overall T1/T2 |

In [3]:
%matplotlib inline

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from scipy.optimize import curve_fit

DATA = '../data/Isanda_coronata-escape-response/ic-escape-response.csv'

df = pd.read_csv(DATA)

df.head()

     DATE    TS    TF   PPL   TP   D1   A1   B1   B2   T1   T2   DS   PD   PS
0  201084  1010  1100   111  122   11  353   -1   -1   -1   -1   -1    0 -1.0
1  221084  1145  1155   111   11    5   68   -1   -1   -1   -1   -1    1 -1.0
2  241084  1253  1309   111   17   12  312   -1   -1   -1   -1   -1    1 -1.0
3   61184  1353  1401   112   13   21   11   42  349   24   -1   -1    1 -1.0
4   61184  1304  1332   112   93   33   30   -1   -1   -1   -1    4    0 -1.0

In [6]:
D1 = df[' D1']
D1.describe()

count    63.000000
mean     19.063492
std      11.043715
min      -1.000000
25%      12.500000
50%      17.000000
75%      22.500000
max      60.000000
Name:  D1, dtype: float64