# Some Track Analysis - Initial Discovery

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

DATA = '../data/tracks.csv'
df = pd.read_csv(DATA)

df.head()

  track-id      date  time-start  time-finish  species  prey          location
0        1  19-10-84        1041         1056        2     2  tvl-3-mile-creek
1        2  19-10-84        1106         1120        2     2  tvl-3-mile-creek
2        3  19-10=84        1020         1029        2     2  tvl-3-mile-creek
3        4  20-10-84        1010         1100        1     1    tvl-3-car-park
4        5  22-10-84        1123         1135        1     1    tvl-3-car-park